.quickmenu {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}
.quickmenu .normal {
  display: flex;
  color: #337ab7;
}
.quickmenu .normal div.home {
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.quickmenu .normal div.home a {
  background: #f3f3f3 !important;
  border-top: solid 1px #dcdcdc;
  padding: 3px;
  height: 35px;
  color: #337ab7;
}
.quickmenu .normal div.home a i {
  font-size: 25px;
}
.quickmenu .normal dl {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  text-align: center;
}
.quickmenu .normal dl dt {
  background: #f3f3f3 !important;
  border-top: solid 1px #dcdcdc;
  padding: 3px;
  height: 35px;
  line-height: 2em;
  border-left: solid 1px #dcdcdc;
  overflow: hidden;
}
.quickmenu .normal dl dd {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border: solid 1px #dcdcdc;
  border-bottom: none !important;
  padding: 6px;
  overflow: hidden;
}
