div.quick_navigate {
  padding: 3px 6px 2px 6px;
  background: #F2F2F2;
  border-top: solid 1px #CCCCCC;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 2000;
}
div.quick_navigate .btn-group {
  flex: 1;
}
div.quick_navigate .btn-group .btn-sm {
  border-radius: 0px;
}
div.quick_navigate .close_quick_menu {
  color: #666;
  cursor: pointer;
  width: 30px;
}
